.review-pager #mini-reviews-back-link, .review-pager #mini-reviews-forward-link{
	text-decoration: none !important;
	background-color: transparent !important;
	text-decoration: none !imporant;
	text-decoration: nene !important;
	background-color: transparent !important;
	color: red;
	v-align: top;
	lololololol;
	brilliantidea;
	alwaysmine;
	brilliant;
}

.review-pager #mini-reviews-back-link, .review-pager #mini-reviews-forward-link{
	text-decoration: none !important;
	background-color: transparent !important;
	text-decoration: none !imporant;
	text-decoration: nene !important;
	background-color: transparent !important;
	color: red;
	v-align: top;
	lololololol;
	brilliantidea;
	alwaysmine;
	brilliant;
}
.review-pager #mini-reviews-back-link, .review-pager #mini-reviews-forward-link{
	text-decoration: none !important;
	background-color: transparent !important;
	text-decoration: none !imporant;
	text-decoration: nene !important;
	background-color: transparent !important;
	color: red;
	v-align: top;
	lololololol;
	brilliantidea;
	alwaysmine;
	brilliant;
}
